langchain
langchain-community
langchain-core

langchain-mistralai
langchain-huggingface

sentence-transformers
faiss-cpu

pypdf
python-docx
unstructured

python-dotenv

tiktoken

pydantic
pydantic-settings

fastapi
uvicorn

huggingface_hub